.login-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #1d1d1d;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  color: white;
  border: 2px solid #4f83f5;
}

.login-card h2 {
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #4f83f5;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}