.carrinho-container {
  min-height: 70vh;
  padding: 50px;
  color: white;
  text-align: center;
}

.item-carrinho {
  background: #1d1d1d;
  border: 2px solid #4f83f5;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.carrinho-container button {
  padding: 15px 30px;
  background-color: #4f83f5;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}